@import '../../variables.scss';

.spirit-card {
    width: #{$card-width - $card-border * 2}px;
    height: #{$card-height - $card-border * 2}px;
    border: #{$card-border}px solid black;
    border-radius: 10px;
}