@import '../../variables.scss';

.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  .icon-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    margin: 15px;
  }

  .title {
    color: white;
    margin-bottom: 0px;
  }
}