@import '../../variables.scss';

$background-z-index: 40;
$content-z-index: 41;

.spirit-card-filter-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: $content-z-index;
    overflow-y: scroll;


    &.hidden {
        display: none;
    }

    .button-header {
        padding: 10px;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .spirit-list {
        z-index: $content-z-index;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        .spirit-card {
            width: 100px;
            height: 140px;
            margin: 4px;
            cursor: pointer;

            &.unselected {
                filter: grayscale(1)
            }
        }
    }
}

.background {
    opacity: 0.8;
    background-color: $primary-color;
    position: absolute;
    top: 0px;
    z-index: $background-z-index;
    width: 100%;
    height: 100%;
    overflow: hidden;
}