@import '../../variables.scss';

.header {
    color: $text-color;
    background-color: $secondary-color;
    width: 100%;
    box-shadow: 0px 0px 8px 2px #000000;
    z-index: 31;
    
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .titles {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .title {
        font-family: 'Permanent Marker';
        font-weight: normal;
        font-size: 18;
        margin-top: -10px;
        margin-bottom: -10px;
    }

    .subtitle {
        margin-top: -30px;
        font-size: 16px;

        span {
            position: relative;
            top: -10px;
        }
    }

    .element {
        position: relative;
        width: 25px;
        height: 25px;
        margin: 0px -5px;

        &.upper {
            top: -15px;
        }
        
        &.lower {
            top: 15px;
        }
    }

    .inline-title-image {
        height: 30px;
        padding-left: 5px;
        padding-right: 5px;
    }
}
