.spirit-deck {
    $num-cards: 8;
    $card-padding: 5;
    $card-width: 208;
    $card-height: 288;


    display: flex;
    flex-direction: row-reverse;
    height: #{$card-height + $card-padding * $num-cards}px;
    width: #{$card-width + $card-padding * $num-cards}px;

    @for $i from 0 to $num-cards {
        $direction: if($i % 2 == 0, 'normal', 'reverse');
        .card-#{$i} {
            position: relative;
            top: #{$i * $card-padding}px;
            left:  #{$i * -$card-padding}px;
            margin-left: #{-$card-width}px;
            z-index: $i;
            animation: card-shuffle 1s #{$direction} ease-in-out;
        }
    }

    .spirit-card {
        transition: all 0.3s 0.5s linear;
    }

    @keyframes card-shuffle {
        0%   { transform: translateX(0px); }
        50%  { transform: translateX(-250px); }
        100%  { transform: translateX(0px); }
    }
}