.spirit-deck {
    $num-cards: 30;
    $card-padding: 5;
    $card-width: 208;
    $card-height: 288;

    display: flex;
    flex-direction: row-reverse;
    height: #{$card-height + $card-padding * $num-cards}px;
    width: #{$card-width + $card-padding * $num-cards}px;

    &.clickable {
        cursor: pointer;

        &:hover {
            opacity: .9;
            animation: deck-wiggle infinite 3s linear
        }
    }

    &.disabled {
        cursor: default;
    }

    @for $i from 0 to $num-cards {
        .prev-card-#{$i} {
            position: relative;
            top: #{$i * $card-padding}px;
            left:  #{$i * -$card-padding}px;
            margin-left: #{-$card-width}px;
            z-index: $i;
        }
    }

    @for $i from 0 to $num-cards {
        $delay: calc(($num-cards - $i) / 4);
        .card-#{$i} {
            &.card-animate-enter-active {
                transition: all 0.5s #{$delay}s ease;
                animation: card-shuffle 1s #{$delay}s ease-in-out
            }

            &.card-animate-enter-active, &.card-animate-enter-done, &.card-animate-exit, &.card-animate-exit-active, &.card-animate-exit-done {
                top: #{$i * $card-padding}px;
                left:  #{$i * -$card-padding}px;
                margin-left: #{-$card-width}px;
                z-index: $i;
            }
        }
    }

    @keyframes deck-wiggle {
        0%   { transform: rotate(0deg); }
        25%  { transform: rotate(2deg); }
        50%   { transform: rotate(0deg); }
        75%   { transform: rotate(-2deg); }
        100% { transform: rotate(0deg); }
    }

    @keyframes card-shuffle {
        0%   { transform: translateX(0px); }
        25%  { transform: translateX(-250px); }
        50%   { transform: translateX(0px); }
        75%  { transform: translateX(-250px); }
        100%  { transform: translateX(0px); }
    }
}

