$background-color: #73877B;

$primary-color: #000000;
$secondary-color: #D9D9D9;
$tertiary-color: #544343;
$error-color: red;

$overlay-background-color: #000000;
$text-color: #000000;


$card-border: 4;
$card-width: 158;
$card-height: 218;