@import '../../variables.scss';

.adversary-wheel {
    overflow:hidden;
    position: relative;
    margin: 1em auto;
    border:  2px solid black;
    padding: 0;
    width: 80vw;
    height: 80vw;
    max-width: 450px;
    max-height: 450px;
    border-radius: 50%;
    cursor: pointer;
    list-style: none;

    $max-adversaries: 8;

    @for $n from 1 to $max-adversaries+1 {
        &.slices-#{$n} {
            @for $i from 0 to $n {
                .slice-#{$i} {
                    transform: rotate(#{calc($i * 360 / $n)}deg) skewY(#{calc(-360 / $n)}deg);
                    overflow: hidden;
                    position: absolute;
                    top: 0; right: 0;
                    width: 50%;
                    height: 50%;
                    transform-origin: 0% 100%;
                    border: 1px solid black;
                }

                &.selected-#{$i} {
                    $slice-degrees: #{calc(360deg / $n)};
                    $degrees-to-spin: #{calc(360deg * 5 + $slice-degrees * ($n - $i - 1) + $slice-degrees / 2)};

                    &.wheel-spin-enter-active {
                        animation: wheel-spin-#{$i}-#{$n} 3s 0ms cubic-bezier(0,0,0,.99);
                    }
                
                    &.wheel-spin-enter-active, &.wheel-spin-enter-done {
                        transform: rotate(#{$degrees-to-spin});
                    }
    
                    @keyframes wheel-spin-#{$i}-#{$n} {
                        0%   { transform: rotate(0deg); }
                        100% { transform: rotate(#{$degrees-to-spin}); }
                    }
                }
            }

            .slice-contents {
                transform:  skewY(#{calc(360 / $n)}deg);

                img {
                    transform: rotate(#{calc(360 / $n / 2 + 90)}deg);
                    scale: 80%;
                }
            }
        }
    }

    &.disabled {
        cursor: default;
    }

    .slice-contents {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        width: 70%;
        top: 30%;
    }

    .slice-bp {
        background-color: #A6A194;
    }

    .slice-en {
        background-color: #D9D0BF;
    }

    .slice-sw {
        background-color: #385C73;
    }

    .slice-fr {
        background-color: #BFBDB0;
    }

    .slice-hb {
        background-color: #BFA939;
    }

    .slice-ru {
        background-color: #8C2B34;
    }

    .slice-sc {
        background-color: #365B73;
    }

    .slice-hm {
        background-color: #BFA939;
    }
}

.arrow-down {
    position: absolute;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    top: 120px;
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid black;
  }
